@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sora";
}

.active{
  text-decoration: underline;
}

.categoty-active{
  text-decoration: none;
  background-color: #9538E2;
  color: white;
}